div{
    width:100px;
    height: 100px;
    background: blue;
    position: relative;
    animation: qmove 5s infinite;
}
@keyframes qmove{
    0%{
        top: 0;
        left: 0;
        background-color: blue;        
    }
    25%{
        top: 0;
        left: 100px;
        background-color: red;
    }
    50%{
        top: 100px;
        left: 100px;
        background-color: rgb(212, 185, 49);
    }
    70%{
        top: 100px;
        left: 0;
        background-color: violet;
    }
    100%{
        top: 0;
        left: 0;
        background-color: blue;
    }
}
