*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, arial;
}
body{
    min-height: 100vh;
    background: rgb(10, 11, 55);
    display: flex;
    text-transform: uppercase;
    color: blanchedalmond;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
input{
    width: 2rem;
    height: 2rem;
}
.box span{
    width: 80%;
    height: 80%;
    border: 3px solid red;
    text-align: center;
    line-height: 150px;
    background: rgb(75, 36, 84);
}
.box span:nth-child(2):hover{
    background: #380656;
}