body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#022873;
  }
  #my-box{
  border-radius:25px;
    min-width:400px;
    max-width:calc(400px + 100px);
    display:flex;
    flex-direction:column;
    align-items:center;
    background: linear-gradient(#0460D9 25%, #0D0D0D 70%);
    /* border:4px solid; no specific color set flashing border color too */
    padding-bottom:20px;
    box-shadow:0 0 50px 15px;
    font-weight: 700;
  }
  button{
    border:none;
    padding:5px 10px;
    margin:0 10px;
    outline:2px solid;
    border-radius:10px;
    background:#0597F2;
    cursor:pointer;
    transition: background .5s, color .5s;
  }
  button:hover{
     background:linear-gradient(#0460D9 25%, #0D0D0D 70%);
    color:#0597F2;   
  }